/* 
░▀█▀░█▀█░█▀▄░█▀▄░█▀█░█▀▄
░░█░░█▀█░█▀▄░█▀▄░█▀█░█▀▄
░░▀░░▀░▀░▀▀░░▀▀░░▀░▀░▀░▀

The tabs container */
/*Always show tab close button on hover and never otherwise */

.tabbrowser-tab .tab-close-button{
  display:none !important
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button{
  display:-moz-box !important;
}

/* Move tab bar beneath the url bar 
#titlebar {
	
	/*Set the value to 3 to move the tabbar below the navbar*
	
	-moz-box-ordinal-group: 3 !important;
}

#titlebar::after {
	border-bottom: 0 !important;
}

.toolbar-items {
}

/* Transparent tabs */
.toolbar-items:-moz-lwtheme-darktext,
.toolbar-items:-moz-lwtheme-brighttext {
	background-color: transparent !important;
	-moz-appearance: var(--bf-moz-appearance) !important;
}

/* 	Set minimum height for tab bar */
#tabbrowser-tabs {
	 --tab-min-height: 0 !important; 
	/*margin: 6px 5px 6px 5px !important;*/
}

/* Compact mode */
:root[uidensity="compact"] #tabbrowser-tabs {
	margin: 0 !important;
}

/* Hide solo tab */
/*
#tabbrowser-tabs tab[first-visible-tab="true"][last-visible-tab="true"]:only-of-type {
  visibility: collapse;
}
*/

/* Hide New Tab Button immediately next to solo tab 

#tabbrowser-tabs tab[first-visible-tab="true"][last-visible-tab="true"]:only-of-type + toolbarbutton {
	visibility: collapse;
}


	/* Stretch Tabs*/
	/*
.tabbrowser-tab[fadein]:not([pinned]) {
	max-width: none !important;
}*/

.tab-background {
	border: none !important;
}

.tab-background:-moz-lwtheme-darktext,
.tab-background:-moz-lwtheme-brighttext {
	background: transparent !important;
	-moz-appearance: var(--bf-moz-appearance) !important;
}

.tab-background[selected="true"] {
	background: var(--bf-tab-selected-bg) !important;
}

.tab-background:not[visuallyselected] {
	background: var(--bf-tab-selected-bg) !important;
	opacity: 0.8 !important;
}

/* Remove the all the "lines" in tab sides */

.tabbrowser-tab::after,
.tabbrowser-tab::before {
	border-left: none !important;
}

/* Remove the lines on the side of the selected tab */
.tabbrowser-tab[beforeselected-visible="true"]::after,
.tabbrowser-tab[beforeselected-visible="true"]::before,
.tabbrowser-tab[selected="true"]::after,
.tabbrowser-tab[selected="true"]::before {
	border-left: none !important;
}

/* Style all the lines before and after selected tab */
.tabbrowser-tab::after,
.tabbrowser-tab::before {
	border-width: 1px !important;
}

.tabbrowser-arrowscrollbox {
	margin-inline-start: 4px !important;
	margin-inline-end: 0 !important;
}

.tab-text {
	font-weight: var(--bf-tab-font-weight) !important;
	font-size: var(--bf-tab-font-size) !important;
}

/* Center all content */
.tab-content {
	justify-content: center !important;
	align-items: center !important;
	margin-top: -1px !important;
	min-width: 100% !important;
	padding: 0 10px !important;
}

/* A way to center the label and icon while 
the close button is positioned to the far right */
.tab-content::before{
	content: "";
	display: -moz-box;
	-moz-box-flex: 1
}

/* Tab close button */
.tab-close-button {
	opacity: 1 !important;
}

/* Prevent tab icons size breaking */
.tab-icon-image, .tab-icon-sound,
.tab-throbber, .tab-throbber-fallback,
.tab-close-button {
	min-width: 13px !important;
}

/* Adjust tab label width */
.tab-label-container {
	min-width: 3px !important;
}

/* If tab close button is not present, don't force favicon to the center */
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([selected="true"]) .tab-throbber,
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([selected="true"]) .tab-throbber-fallback,
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([selected="true"]):not([busy]) .tab-icon-image,
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([selected="true"]):not([image]) .tab-label-container {
	margin-left: 0 !important;
}

/* Tab icon */
hbox.tab-content .tab-icon-image {
	display: initial !important;
}

/* Show the icon of pinned tabs */
hbox.tab-content[pinned=true] .tab-icon-image {
	display: initial !important;
}

/* Hide text of pinned tabs */
hbox.tab-content[pinned=true] .tab-text {
	display: none !important;
}

/* 	Hide the blue line on top of tab 
.tab-line {
	display: none !important;
}*/

.tab-bottom-line {
}

.tabbrowser-tab {
	border-radius: var(--bf-tab-border-radius) !important;
	border-width: 0;
	height: var(--bf-tab-height) !important;
	overflow: hidden;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

:root[uidensity="compact"] .tabbrowser-tab {
	border-radius: var(--bf-tab-border-radius) !important;
}

.tabbrowser-tab:hover {
	box-shadow: 0 10px 10px -5px rgba(33,33,33,.6) !important;
}

/* Set color scheme *
.tabbrowser-tab:hover:-moz-lwtheme-darktext,
.tabbrowser-tab:hover:-moz-lwtheme-brighttext {
	background: var(--bf-tab-selected-bg) !important;
}

/* 	Audio playing background 
.tabbrowser-tab[soundplaying="true"] {
	background-color: var(--bf-tab-soundplaying-bg) !important;
} */

#tabbrowser-tabs {
}

/* 	Audio Icon */
.tab-icon-sound {
}

/* Center pinned tab stack(Contains icon) if #tabbrowser-tabs[positionpinnedtabs=true] 
#tabbrowser-tabs[positionpinnedtabs=true] .tabbrowser-tab[pinned=true] .tab-stack {
	position: relative !important;
	top: 50% !important;
	transform: translateY(-50%) !important;
}
*/

.private-browsing-indicator { 
	display: block !important;
	background: transparent !important;
}

/* Remove hover effects on tab bar buttons 
#TabsToolbar {
	--toolbarbutton-active-background: transparent !important;
	--toolbarbutton-hover-background: transparent !important;
	-moz-appearance: none !important;
}*/

/* Left to Right Alignment of tabs toolbar */
/* #TabsToolbar {
  direction: rtl;
}

#tabbrowser-tabs {
  direction: ltr;
}
*/
