/* (MACOS ONLY!) Enable window vibrancy behind tabs */

#navigator-toolbox:not(:-moz-window-inactive) {
    background-color: transparent !important;
  }
  
  #main-window[lwthemetextcolor="bright"] #navigator-toolbox:not(:-moz-window-inactive) {
    background-color: transparent !important;
  }
  
  #main-window {
    appearance: auto !important;
  }
  
  #main-window[lwthemetextcolor="bright"] {
    appearance: auto !important;
  }
  /*
  :-moz-any(#main-window, #navigator-toolbox):-moz-any([inFullscreen="true"], :-moz-window-inactive) {
    appearance: auto !important;
    /*background-color: transparent !important;
    -moz-appearance: -moz-mac-vibrant-titlebar-dark !important;
  }
